* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	height: 100vh;
	background: linear-gradient(to bottom, #002339, #00508c);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

.container {
	margin: 12%;
	width: 90%;
	max-width: 700px;
	padding: 20px;
}

.pass {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
	background: white;
	color: #333;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 26px 20px;
	border-radius: 5px;
}

.container h1 {
	font-weight: 700;
	font-size: 45px;
}

.container h1 span {
	color: #ffa500;
	border-bottom: 4px solid #ffa500;
	padding-bottom: 4px;
}

.pass input {
	border: 0;
	outline: 0;
	font-size: 25px;
	border: 0;
	outline: 0;
	font-size: 25px;
}

.container button {
	cursor: pointer;
	width: 50%;
	height: 10vh;
	background: #478f3fb3;
	border-radius: 5px;
	border: 0;
	font-size: 22px;
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.container button img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	object-fit: cover;
}
